@charset "UTF-8";

/*----------------
    共通部分 
----------------*/
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro M3", sans-serif;
    line-height: 1.7;
    color: #432;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
/*-------------------
    home-content
-----------------------*/
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
    animation: anime 2s forwards linear;
}
@keyframes anime {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*
    見出し
---------------*/
.page-title {
    margin: auto;
    font-size: 5vw;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    animation: flowing-anim 3s forwards linear;
}
/*
    見出しアニメーション
-------------------------*/
@keyframes flowing-anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
/*
    ボタン
---------------*/
.button {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    width: 130px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 5px solid #333;
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    transition: .3s;
    margin: 0 auto;
}
.button::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    right: -60px;
    z-index: -1;
    border-right: 60px solid transparent;
    border-bottom: 60px solid #333;
    border-image-slice: 1;
    transform: translateX(-100%);
    transition: transform ease .3s;
}
.button:hover {
    color: #fff;
    border-color: #00B8AA #0080B2 #FFA73C #EA6675 ;
}
.button:hover::before {
    transform: translateX(0);
}

/*  背景画像 */
.big-bg {
    background-position: center top;
    background-repeat: repeat;
}
#home {
    background-image:url(../images/background-images/pw_pattern.png);
    min-height: 100vh;
}
#home .page-title {
    text-transform: none;
}