@charset "UTF-8";

header nav ul {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 6px;
    list-style-type: none;
}
header {
    position: relative;
}
header nav {
    background-color: #4A403A;
    width: 100%;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}
header nav a {
    display: block;
    border-radius: 4px;
    padding: 12px 24px;
    text-decoration: none;
    border-right: 2px dotted white;
    color: white;
}
header nav a:hover {
    transition:.3s;
    background-color: rgba(165, 20, 20, 0.781);
}